{% extends "../base.html" %}
{% load bootstrap4 %}
{% block title %}
Подписик
{% endblock title %}
{% block content %}


<div>
    <div style="text-align: center;">
        <h1>
            Подписки
        </h1>
    </div>
    <div class="row">
    {% for sub in object_list %}

     <form action="{% url 'pages:subscribe' %}" method="post" class="col-sm-4" style="margin-bottom: 30px;">
        {% csrf_token %}
        <input type="hidden" name="sub" value="{{ sub.pk }}" />
        <div class="card">
            <div class="card-body">
                <center><h5 class="card-title">{{ sub.name }}</h5></center>
                <p class="card-text">
                    <ul class="list-group">
                    {% for module in modules %}
                    {% if module.level <= sub.level and module.enable and module.show %}
                    <li class="list-group-item">{{module.name}}</li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </p>
                <center><button type="submit" class="btn {% if request.user.subscriber.subscription.level > sub.level %} btn-secondary {% else %}
                    btn-primary {% endif %}" data-toggle="modal"
                {% if request.user.subscriber.subscription.level >= sub.level %} disabled {% endif %}>
                    Оформить за {{sub.price}}₮
                </button></center>
            </div>
        </div>
    </form>
    {% endfor %}
    </div>

</div>
{% endblock content %}