<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><i class="fas fa-boxes"></i>Курсач3000</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'pages:home' %}">Главная</a>
            </li>
            <li class="nav-item {% if request.path == '/vacancies/' %} active {% endif %}">
                {% if request.user.resume %}
                <a class="nav-link" href="{% url 'pages:vacancies' %}">Работенка для меня</a>
                {% else %}
                <a class="nav-link" href="{% url 'pages:resume' %}">Работенка для меня</a>
                {% endif %}
            </li>
            <li class="nav-item {% if request.path == '/vacancies/all/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'pages:all_vacancies' %}">Список предложений</a>
            </li>
            {% if request.user.subscriber.subscription.level > 0 %}
            <li class=" nav-item">
                <a class="nav-link disabled" href="#">Анализ рынка</a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pages:modules' %}">Модули</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
        {% if request.user.is_authenticated %}
        <span class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropleft">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                        {{user.first_name}} [<b>{{request.user.subscriber.subscription}}</b>]
                    </a>
                    <div class="dropdown-menu" style="margin: auto;">
                        <a class="dropdown-item" href="{% url 'pages:profile' %}">Личный кабинет</a>
                        <a class="dropdown-item" href="{% url 'pages:resume' %}">Мое резюме</a>
                        <a class="dropdown-item" href="{% url 'pages:promocode' %}">Баланс: {{user.balance}}₮ </a>
                        <a class="dropdown-item" href="{% url 'pages:subscriptions' %}">Подписки</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'pages:logout' %}">Выход</a>
                    </div>
                </li>
            </ul>
        </span>
        {% else %}
        <span>
            <a href="{% url 'pages:login' %}" class="btn btn-outline-primary">Войти</a>
            <a href="{% url 'pages:register' %}" class="btn btn-outline-success">Попробовать бесплатно</a>
        </span>
        {% endif %}
    </div>
</nav>