{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
Модули
{% endblock title %}
{% block content %}


<div>
    <div style="text-align: center;">
        <h1>
            Модули
        </h1>
    </div>

    <form action="save/" method="post" class="form container">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
        {% for module in object_list %}
            <li class="list-group-item">   
                <div class="custom-control custom-switch">
                    <input name={{module.pk}} type="checkbox" class="custom-control-input" id="{{module.pk}}" {% if module.enable %}checked{% endif %}>
                    <label class="custom-control-label" for="{{module.pk}}">{{module.name}}</label>
                </div>  
            </li>
        {% endfor %}
        </ul>
        {% buttons %}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        {% endbuttons %}
    </form>

</div>
{% endblock content %}
